.horizontal-timeline {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.timeline-dots-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.timeline-dot-container {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
}

.timeline-dot-container:last-child {
  flex: 0;
}

.timeline-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.timeline-line {
  height: 3px;
  width: 100%;
  position: relative;
}

.active-line {
  background: var(--gradient-button);
}

.inactive-line {
  background-color: #9e9e9e;
}

.timeline-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.status-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: space-between;
  width: 33.3%;
}

.status__text {
  font-size: 0.875rem;
}
