//header and navbar 
.header-container {
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.trapezoid-left {
  position: relative;
  border-bottom: 70px solid var(--white);
  border-right: 50px solid transparent;
  width: 100%;
  max-width: 700px;
  margin-right: auto;
  height: 0;
  filter: drop-shadow(0 4px 8px rgba(209, 209, 209, 0.5));
}

.trapezoid-right {
  position: relative;
  border-bottom: 70px solid var(--white);
  border-left: 50px solid transparent;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  height: 0;
  filter: drop-shadow(0 4px 8px rgba(209, 209, 209, 0.5));
}

.content-wrapper {
  height: 70px;
}

.language-selector {
  max-width: 150px;
}

.gap-4 {
  gap: 8px;
}

.gap-1{
  gap: 4px;
}

#navbar {
  background: var(--gradient-nav);
  min-width: fit-content;
}

// default layout styling

.app-layout {
  display: flex;
  flex-direction: column;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar-container {
  margin-top: 53px;
  z-index: 5;
  width: 650px;
  margin-left: auto;
  margin-right: auto
}

.content-container {
  margin-top: 11;
  flex: 1;
  transition: padding 0.3s ease;
}

.footer-container {
  z-index: 1;
}

