@use 'variables';

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Tajawal', sans-serif;
}
