:root {
  --black: #000000;
  --white: #ffffff;
  --primary: #4426f5;
  --secondary: #65bcf9;
  --accent: #65bcf9;
  --text: #0e0063;
  --bg-input: #f1f4fb;
  --text-icon-input: #b2aecc;
  --bg-header: #d1d1d180;
  --bg-footer: #eaeaea80;
  --hero-scd-sec: #8ee7ad;

  /* Gradient Variable */
  --gradient-button: linear-gradient(135deg,
      rgba(68, 38, 245, 1) 0%,
      rgba(101, 188, 249, 1) 50%,
      rgba(142, 231, 173, 1) 100%);

  --gradient-card: linear-gradient(to bottom,
      rgba(176, 211, 255, 0.41) 0%,
      rgba(173, 220, 253, 0.41) 50%,
      rgba(192, 249, 212, 0.41) 100%);

  --gradient-nav:
    linear-gradient(90deg,
      rgba(68, 38, 245, 1) 0%, rgba(101, 188, 249, 1) 53%, rgba(142, 231, 173, 1) 100%);

  --gradient-logo:
    linear-gradient(90deg, rgba(97, 173, 248, 1) 0%, rgba(104, 191, 243, 1) 100%);
}