@use 'variables';
@use 'components/Inputs/phone';
@use 'components/Buttons/login';
@use 'components/Ui-Layout/layouts';
@use 'components/home';

@use 'components/_deleteAccount';
@use 'components/_profile';
@use 'components/Chips/mainChip.scss';
@use 'components/_notifications.scss';
@use 'components/Buttons/back.scss';

@font-face {
  font-family: 'Bahij';
  src: url('../fonts/Bahij_TheSansArabic-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Color Emoji';
  src: url('../fonts/NotoColorEmoji-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: 'Bahij', sans-serif;
}
